//COLOR
$color-primary: #000579;
$color-secondary: #140085;
$color-lg: rgb(250, 238, 238,);
$color-ter: white; 
$color-black: black;
$color-light-gray-1: #f7f7f7;
$color-dark-gray-1: #eee;
$color-dark-gray-2: rgb(170, 169, 169);
$color-dark-gray-3: rgb(84, 84, 84);
$color-secondary-light: rgb(223, 181, 84);
$color-secondary-dark: #d48a00;
$color-tertiary-light: #ff9782;
$color-tertiary-dark: #fd5634;
$color-quad-light: rgb(235, 127, 181);
$color-quad-dark: rgb(211, 9, 160);
$color-primary-light: #696efd;
$color-primary-dark: #111463;
$color-footer: #086BE1;
$color-bg-footer: #131313;


//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
