//COLOR
$color-primary: #000579;
$color-secondary: #140085;
$color-lg: rgb(250, 238, 238,);
$color-ter: white;
$color-black: black;
$color-light-gray-1: #f7f7f7;

//FONT
$default-font-size: 1.6rem;


//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
