.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.4), 
        rgba($color-secondary, 0.4)), 
        url("../image/hero.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 5rem;
        filter: invert(100%);
    }
    
    &__logo:hover {
        animation: infiniteLoop 1s ;
        animation-iteration-count: infinite;
    }
    
    
    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    

}

.heading-secondary{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    background-image: linear-gradient(to left, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;

    &:hover {
        transform: skewY(2deg) skewX(-15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, 0.4);
    }
}


