.section-about{
    background-color: $color-light-gray-1;
    padding: 23rem 0;
    margin-top: -30vh;
    color: black;
}

.section-features{
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary, 0.4), 
        rgba($color-secondary, 0.4)), 
        url("../image/nat-4.jpg");
    background: cover;
    margin-top: -10rem;
    transform: skewY(-7deg);

    & > * {
        transform: skewY(7deg);
    }
}